<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<a href="/login">Login</a>
	<br>
	<a href="/register">Register</a>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<br>

Recent Posts:

<table>
	<th>Item ID</th>
	<th>Email</th>
	<th>Time</th>
	<th>File_Path</th>
	<th>Item Name</th>
	<th>Location</th> <!--- new --->
{% for line in posts %}
	<tr>
		<td>{{line.item_id}}</td>
		<td>{{line.email_post}}</td>
		<td>{{line.post_time}}</td>
		<td>{{line.file_path}}</td>
		<td>{{line.item_name}}</td>
		<td>{{line.location}}</td> <!--- new --->
	</tr>
{% endfor %}
</table>
</body>

</html>
