<html>
<head>
</head>
<body>

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<a href="/create_group">Create Group</a>

<br>
<br>

Your Groups:
<table>
	<th>Group Name</th>
	<th>Description</th>
	<th></th>

{% for line in owned_groups %}
	<tr>
		<td>{{line.fg_name}}</td>
		<td>{{line.description}}</td>

		<form action="/group" method="POST">
		<input type="hidden" name="fg_name" value="{{line.fg_name}}">
		<td><input type="submit" value="Details"></td>
		</form>	
	</tr>
{% endfor %}
</table>
<br>

Groups You Are In:
<table>
	<th>Group Name</th>
	<th>Owner</th>
	<th>Description</th>
	<th></th>

{% for line in in_groups %}
	<tr>
		<td>{{line.fg_name}}</td>
		<td>{{line.owner_email}}</td>
		<td>{{line.description}}</td>

		<form action="/defriend" method="POST">
		<input type="hidden" name="remove_email" value="{{line.email}}">
		<input type="hidden" name="owner_email" value="{{line.owner_email}}">
		<input type="hidden" name="fg_name" value="{{line.fg_name}}">
		<td><input type="submit" value="Leave"></td>
		</form>	
	</tr>
{% endfor %}
</table>

<br><br>
{% if error %}
	<p class="error"><strong>Error:</strong> {{error}}</p>
{% endif %}

<br>
<br>
<a href="/home">Home</a>

<br>
<br>
<a href="/login">Logout</a>

</body>


</html>
